.lemon {
	transition: all 0.7s;
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%) scale(0);
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;

	&.visible {
		transform: translateY(-50%) scale(1);
		visibility: visible;
		opacity: 1;
	}

	&__center {
		position: relative;
		max-width: 620px;
		margin: 0 auto;
		aspect-ratio: 1/1;
		background: url("../images/lemon.png") no-repeat 50% 50%;
		background-size: contain;
	}

	&__arrow {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 149/620 * 100%;
		background: url(../images/arrow.svg) no-repeat;
		background-size: contain;
		animation: lemon-arrow-shake 1s infinite;

		&:before {
			content: " ";
			padding-top: 125/115 * 100%;
			display: block;
		}
	}
}

@keyframes lemon-arrow-shake {
	0%,
	100% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(-30px, -30px);
	}
}
