.red-wave {
	transition: all 0.7s;
	position: absolute;
	z-index: 20;
	top: 50%;
	transform: translateY(-50%) scale(0);
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;

	&.visible {
		transform: translateY(-50%) scale(0.25);
		visibility: visible;
		opacity: 1;
	}

	&.hover {
		transform: translateY(-50%) scale(0.27);
	}

	&.active {
		transform: translateY(-50%) scale(1);

		.red-wave__content {
			opacity: 1;
		}

		.red-wave__center {
			cursor: default;
		}

		.red-wave__question {
			pointer-events: none;
			opacity: 0;
		}
	}

	&.hidden {
		transition: all 0.4s;
		transform: translateY(-50%) scale(0);
		opacity: 0;
	}

	&__center {
		position: relative;
		max-width: 800px;
		margin: 0 auto;
		background: url("../images/red-wave.png") no-repeat;
		background-size: contain;
		cursor: pointer;

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: calc(min(15vw, 90px)) 0;
		transition: all 0.2s;
		opacity: 0;
	}

	&__question {
		transition: all 0.2s;
		position: absolute;
		top: 13%;
		left: 0;
		height: 70%;
		width: 100%;
		background: url("../images/question.svg") no-repeat 50% 50%;
		background-size: contain;
	}

	&__control {
		text-align: center;
	}

	&__back {
		text-align: center;
		font-family: inherit;
		font-size: calc(min(13vw, 60px));
		line-height: 1;
		color: #fff;

		i {
			font-size: 1em;
		}

		span {
			display: block;
			font-size: 18/60 + em;
			font-weight: 700;
		}
	}

	&__text {
		margin: auto;
		padding: 0 10%;
		text-align: center;
		color: #fff;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 0.5em;
		font-size: calc(min(3.8vw, 26px));
		font-weight: 700;
		line-height: (35/22);
	}

	&__desc {
		margin-bottom: 1em;
		font-size: calc(min(3.5vw, 24px));
		line-height: 1.4;
	}

	&__button {
		transition: all 0.2s;
		position: relative;
		display: inline-block;
		padding: 20/18 + em;
		background: #3fa22a;
		border-radius: 100px;
		text-transform: uppercase;
		font-size: calc(min(3.8vw, 18px));
		font-weight: 600;

		&:hover {
			background: lighten(#3fa22a, 5%);
			transform: scale(1.02);
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: calc(min(9vw, 44px));
		color: #fff;

		> a {
			margin: 0 10px;
		}
	}
}

@media (max-width: 767.98px) {
	.red-wave {
		&__content {
			padding-top: calc(min(10vw, 90px));
		}
	}
}

@media (max-width: 599.98px) {
	.red-wave {
		&__center {
			margin-right: -40px;
			margin-left: -40px;
		}

		&__content {
			padding-right: 50px;
			padding-left: 50px;
		}

		&__text {
			padding-right: 0;
			padding-left: 0;
		}
	}
}
