---
title: Главная
layout: default.hbs
---

<div class="radial-background"></div>

Голос природы поздравляет!

Вытяни новогоднее пожелание и подарок!

вытянуть

Не упусти шанс получить подарок

<div class="snowflakes snowflakes--quick" aria-hidden="true">
  {{#repeat 50}}
  <div></div>
  {{/repeat}}
</div>

<div class="snowflakes snowflakes--slow" aria-hidden="true">
  {{#repeat 10}}
  <div></div>
  {{/repeat}}
</div>