---
title: Главная
layout: default.hbs
---

<div class="wrapper">

    <main class="content">

        <header class="header">
            <a href="#" class="header__logo">
                <img src="images/logo.svg" alt="">
            </a>
        </header>
        
        <section class="welcome">
            <div class="welcome__radial-bg"></div>
            <div class="welcome__tree-left"></div>
            <div class="welcome__tree-right"></div>
            
            <div class="welcome__content">
                <div class="welcome__image"id="welcome__image"></div>
                <div class="welcome__text" id="welcome__text">
                    <h1 class="welcome__title">
                        Голос природы поздравляет!
                    </h1>

                    <div class="welcome__desc">
                        Вытяни новогоднее пожелание и подарок!
                    </div>

                    <button type="button" class="welcome__button">
                        вытянуть
                    </button>

                    <div class="welcome__tip">
                        Не упусти шанс получить подарок
                    </div>
                </div>
            </div>
        </section>

        <section class="red-wave">
            <div class="red-wave__control">
                <button type="button" class="red-wave__back">
                    <i class="icon-back"></i>
                    <span>Ещё раз</span>
                </button>
            </div>
            <div class="red-wave__content">
                <div class="red-wave__title">Желаем вам в Новом году</div>
                <div class="red-wave__desc">
                     отличиться ярким и заметным окрасом, как у лимона, порадовать окружающих некислыми шутками и наливаться свежестью и красотой под ярким южным солнышком. И если жизнь в этом году подсунет вам лимон - желаем вам превратить его в лимонад “Черноголовка”!
                </div>
            </div>
            <div class="red-wave__social">
                <a href="#"><i class="icon-vk"></i></a>
                <a href="#"><i class="icon-ok"></i></a>
                <a href="#"><i class="icon-instagram"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
            </div>
        </section>

        <section class="lemon">
            <button type="button" class="lemon__question"></button>
            <div class="lemon__arrow"></div>
        </section>

    </main>

    <div class="toys">
        <div class="toys__tree"></div>
        <div class="toys__item toys__item--1"></div>
        <div class="toys__item toys__item--2"></div>
        <div class="toys__item toys__item--3"></div>
        <div class="toys__item toys__item--4"></div>
        <div class="toys__item toys__item--5"></div>
        <div class="toys__item toys__item--6"></div>
    </div>

    <div class="bird" >
        <div class="bird__image" id="bird__image"></div>
    </div>

</div>

<div class="snowflakes snowflakes--quick" aria-hidden="true">
  {{#repeat 50}}
  <div></div>
  {{/repeat}}
</div>

<div class="snowflakes snowflakes--slow" aria-hidden="true">
  {{#repeat 10}}
  <div></div>
  {{/repeat}}
</div>