---
title: Главная
layout: default.hbs
---

<img src="images/bird-fruits/2.png" alt="" class="out-of-screen">
<img src="images/bird-fruits/3.png" alt="" class="out-of-screen">
<img src="images/bird-fruits/4.png" alt="" class="out-of-screen">
<img src="images/bird-fruits/5.png" alt="" class="out-of-screen">
<img src="images/bird-fruits/6.png" alt="" class="out-of-screen">
<img src="images/bird-states/static.svg" alt="" class="out-of-screen">

<div class="wrapper">

    <main class="content">

        <header class="header">
            <a href="#" class="header__logo">
                <img src="images/logo.svg" alt="">
            </a>
        </header>
        
        <section class="welcome">
            <div class="welcome__radial-bg" id="welcome__radial-bg"></div>
            <div class="welcome__tree-left"></div>
            <div class="welcome__tree-right"></div>
            
            <div class="welcome__content">
                <section class="welcome__section" id="welcome__section">
                    <div class="welcome__image" id="welcome__image">
                        <div class="welcome__image__in1" id="welcome__image__in1"></div>
                    </div>
                    <div class="welcome__text" id="welcome__text">
                        <h1 class="welcome__title">
                            Голос природы поздравляет!
                        </h1>

                        <div class="welcome__desc">
                            Вытяни новогоднее пожелание и подарок!
                        </div>

                        <button type="button" class="welcome__button">
                            вытянуть
                        </button>

                        <div class="welcome__tip">
                            Не упусти шанс получить подарок
                        </div>
                    </div>
                </section>

                <section class="lemon" id="lemon">
                    <div class="lemon__center" id="lemon__center">
                        <div class="lemon__arrow"></div>
                    </div>
                </section>

                <section class="red-wave" id="red-wave">
                    <div class="red-wave__center">
                        <div class="red-wave__content">
                            <div class="red-wave__control">
                                <button type="button" class="red-wave__back" id="red-wave__back">
                                    <i class="icon-back"></i>
                                    <span>Ещё раз</span>
                                </button>
                            </div>
                            <div class="red-wave__text">
                                <div class="red-wave__title">Желаем вам в Новом году</div>
                                <div class="red-wave__desc" id="red-wave__desc">
                                    ОТЛИЧИТЬСЯ ярким и заметным окрасом, как у лимона, порадовать окружающих некислыми шутками и наливаться свежестью и красотой под ярким южным солнышком. И если жизнь в этом году подсунет вам лимон - желаем вам превратить его в лимонад “ЧЕРНОГОЛОВКА”!
                                </div>
                                <a href="#" class="red-wave__button" target="_blank" id="red-wave__button">
                                    получить подарок
                                </a>
                            </div>
                            <div class="red-wave__social">
                                <a href="#"><i class="icon-vk"></i></a>
                                <a href="#"><i class="icon-ok"></i></a>
                                <a href="#"><i class="icon-instagram"></i></a>
                                <a href="#"><i class="icon-facebook"></i></a>
                            </div>
                        </div>
                        <div class="red-wave__question"></div>
                    </div>
                </section>
            </div>
        </section>

        

    </main>

    <div class="toys">
        <div class="toys__item toys__item--1"></div>
        <div class="toys__item toys__item--2"></div>
        <div class="toys__item toys__item--3"></div>
        <div class="toys__item toys__item--4"></div>
        <div class="toys__tree">
            <div class="toys__item toys__item--5"></div>
        </div>
        <div class="toys__item toys__item--6"></div>
    </div>

    <div class="bird">
        <div class="bird__image" id="bird__image">
            <div class="bird__image__in1" id="bird__image__in1">
                <div class="bird__fruits" id="bird__fruits">
                    <div class="bird__fruits__item" 
                        style="background-image: url(images/bird-fruits/2.png); top: 52%; left: 98%;"
                        data-image="images/bird-fruits/2.png"
                        data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nam placeat consectetur beatae nemo ducimus temporibus, enim neque veritatis iste tenetur, dolor fugiat error. Ducimus harum necessitatibus sequi. Corporis, id."
                        data-link="images/bird-fruits/2.png"></div>
                    <div class="bird__fruits__item" 
                        style="background-image: url(images/bird-fruits/3.png); top: 52%; left: 97%;"
                        data-image="images/bird-fruits/3.png"
                        data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nam placeat consectetur beatae nemo ducimus temporibus, enim neque veritatis iste tenetur, dolor fugiat error. Ducimus harum necessitatibus sequi. Corporis, id."
                        data-link="images/bird-fruits/3.png"></div>
                    <div class="bird__fruits__item" 
                        style="background-image: url(images/bird-fruits/4.png); top: 52%; left: 98%;"
                        data-image="images/bird-fruits/4.png"
                        data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nam placeat consectetur beatae nemo ducimus temporibus, enim neque veritatis iste tenetur, dolor fugiat error. Ducimus harum necessitatibus sequi. Corporis, id."
                        data-link="images/bird-fruits/4.png"></div>
                    <div class="bird__fruits__item" 
                        style="background-image: url(images/bird-fruits/5.png); top: 52%; left: 94%;"
                        data-image="images/bird-fruits/5.png"
                        data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nam placeat consectetur beatae nemo ducimus temporibus, enim neque veritatis iste tenetur, dolor fugiat error. Ducimus harum necessitatibus sequi. Corporis, id."
                        data-link="images/bird-fruits/5.png"></div>
                    <div class="bird__fruits__item" 
                        style="background-image: url(images/bird-fruits/6.png); top: 54%; left: 98%;"
                        data-image="images/bird-fruits/6.png"
                        data-text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nam placeat consectetur beatae nemo ducimus temporibus, enim neque veritatis iste tenetur, dolor fugiat error. Ducimus harum necessitatibus sequi. Corporis, id."
                        data-link="images/bird-fruits/6.png"></div>
                </div>
            </div>
            
        </div>
    </div>

</div>

<div class="snowflakes snowflakes--quick" aria-hidden="true">
  {{#repeat 50}}
  <div></div>
  {{/repeat}}
</div>

<div class="snowflakes snowflakes--slow" aria-hidden="true">
  {{#repeat 10}}
  <div></div>
  {{/repeat}}
</div>