/*! destyle.css v1.0.14 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  box-sizing: border-box; }

::before,
::after {
  box-sizing: inherit; }

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom; }

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none; }

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/subset-SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/subset-SFProDisplay-Bold.woff") format("woff"), url("../fonts/subset-SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/subset-SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/subset-SFProDisplay-Medium.woff") format("woff"), url("../fonts/subset-SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/subset-SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/subset-SFProDisplay-Regular.woff") format("woff"), url("../fonts/subset-SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/subset-SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/subset-SFProDisplay-Semibold.woff") format("woff"), url("../fonts/subset-SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?u0j3j4");
  src: url("../fonts/icomoon/icomoon.eot?u0j3j4#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?u0j3j4") format("truetype"), url("../fonts/icomoon/icomoon.woff?u0j3j4") format("woff"), url("../fonts/icomoon/icomoon.svg?u0j3j4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-back:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e902"; }

.icon-ok:before {
  content: "\e903"; }

.icon-vk:before {
  content: "\e904"; }

.header {
  padding: 30px 0;
  text-align: center;
  line-height: 0; }
  .header__logo {
    display: inline-block; }
    .header__logo img {
      width: 44vw;
      max-width: 214px; }

@media (max-width: 767.98px) {
  .header {
    padding-top: 50px;
    padding-bottom: 20px; } }

.welcome {
  position: relative;
  padding-bottom: 60px;
  text-align: center;
  color: #fff; }
  .welcome__radial-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 100%;
    aspect-ratio: 1/1;
    background: radial-gradient(50% 50% at 50% 50%, #8fbe21 0%, #005e29 100%); }
  .welcome__tree-left {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: calc(min(20vw - 300px, 0px));
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20vw;
    max-width: 355px;
    background: url(../images/tree-left.png) no-repeat;
    background-size: contain; }
    .welcome__tree-left:before {
      content: " ";
      padding-top: 275.49296%;
      display: block; }
  .welcome__tree-right {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: calc(min(20vw - 300px, 0px));
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20vw;
    max-width: 380px;
    background: url(../images/tree-right.png) no-repeat;
    background-size: contain; }
    .welcome__tree-right:before {
      content: " ";
      padding-top: 253.15789%;
      display: block; }
  .welcome__content {
    position: relative;
    padding: 0 10px; }
  .welcome__section {
    transition: all 0.7s; }
    .welcome__section.hidden {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0; }
  .welcome__image {
    max-width: 570px;
    margin: 0 auto; }
    .welcome__image__in1 {
      transition: all 0.5s;
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
      position: relative;
      z-index: 10;
      background: url(../images/basket.png) no-repeat 50% 50%;
      background-size: contain; }
      .welcome__image__in1:before {
        content: " ";
        padding-top: 100%;
        display: block; }
      .welcome__image__in1.scaled {
        -webkit-transform: scale(1.3) translateY(10%);
                transform: scale(1.3) translateY(10%); }
  .welcome__title {
    text-transform: uppercase;
    font-size: calc(min(5.5vw, 52px));
    font-weight: 700; }
  .welcome__text {
    transition: all 0.2s; }
    .welcome__text.hidden {
      opacity: 0; }
  .welcome__desc {
    margin-top: 0.45455em;
    margin-bottom: 1.59091em;
    text-transform: uppercase;
    font-size: calc(min(3.5vw, 22px));
    font-weight: 500; }
  .welcome__button {
    transition: all 0.2s;
    position: relative;
    min-width: 220px;
    padding: 1.11111em;
    background: #3fa22a;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: calc(min(3.8vw, 18px));
    font-weight: 600; }
    .welcome__button:before {
      content: " ";
      position: absolute;
      top: -0.5em;
      left: 0.5em;
      background: url(../images/button-snow.svg) no-repeat;
      background-size: contain;
      width: 50%;
      height: 1em; }
    .welcome__button:hover {
      background: #47b62f;
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
  .welcome__tip {
    margin-top: 1.36364em;
    text-transform: uppercase;
    font-size: calc(min(3.5vw, 22px));
    font-weight: 500; }

@media (max-width: 767.98px) {
  .welcome__title {
    padding: 0 20px; } }

.red-wave {
  transition: all 0.7s;
  position: absolute;
  z-index: 20;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0; }
  .red-wave.visible {
    -webkit-transform: translateY(-50%) scale(0.25);
            transform: translateY(-50%) scale(0.25);
    visibility: visible;
    opacity: 1; }
  .red-wave.hover {
    -webkit-transform: translateY(-50%) scale(0.27);
            transform: translateY(-50%) scale(0.27); }
  .red-wave.active {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1); }
    .red-wave.active .red-wave__content {
      opacity: 1; }
    .red-wave.active .red-wave__center {
      cursor: default; }
    .red-wave.active .red-wave__question {
      pointer-events: none;
      opacity: 0; }
  .red-wave.hidden {
    transition: all 0.4s;
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
    opacity: 0; }
  .red-wave__center {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background: url("../images/red-wave.png") no-repeat;
    background-size: contain;
    cursor: pointer; }
  .red-wave__content {
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    padding: calc(min(15vw, 90px)) 0;
    transition: all 0.2s;
    opacity: 0; }
  .red-wave__question {
    transition: all 0.2s;
    position: absolute;
    top: 13%;
    left: 0;
    height: 70%;
    width: 100%;
    background: url("../images/question.svg") no-repeat 50% 50%;
    background-size: contain; }
  .red-wave__control {
    text-align: center; }
  .red-wave__back {
    text-align: center;
    font-family: inherit;
    font-size: calc(min(13vw, 60px));
    line-height: 1;
    color: #fff; }
    .red-wave__back i {
      font-size: 1em; }
    .red-wave__back span {
      display: block;
      font-size: 0.3em;
      font-weight: 700; }
  .red-wave__text {
    margin: auto;
    max-width: 490px;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
  .red-wave__title {
    margin-bottom: 0.22727em;
    font-size: calc(min(3.8vw, 22px));
    font-weight: 700;
    line-height: 1.59091; }
  .red-wave__desc {
    font-size: calc(min(3.5vw, 18px));
    line-height: 1.55556; }
  .red-wave__social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(min(9vw, 44px));
    color: #fff; }
    .red-wave__social > a {
      margin: 0 10px; }

@media (max-width: 599.98px) {
  .red-wave__center {
    margin-right: -40px;
    margin-left: -40px; }
  .red-wave__content {
    padding-right: 50px;
    padding-left: 50px; } }

.snowflakes > div {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
          animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-timing-function: linear, ease-in-out;
          animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
          animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
          animation-play-state: running, running; }
  .snowflakes > div:before {
    content: " ";
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%; }

.snowflakes--quick > div:nth-child(0) {
  left: 76%;
  -webkit-animation-delay: 8.5s, 8s;
          animation-delay: 8.5s, 8s;
  -webkit-animation-duration: 4.4s, 3s;
          animation-duration: 4.4s, 3s; }
  .snowflakes--quick > div:nth-child(0):before {
    -webkit-transform: scale(0.61133);
            transform: scale(0.61133); }

.snowflakes--quick > div:nth-child(1) {
  left: 75%;
  -webkit-animation-delay: 2.5s, 5s;
          animation-delay: 2.5s, 5s;
  -webkit-animation-duration: 3.2s, 4s;
          animation-duration: 3.2s, 4s; }
  .snowflakes--quick > div:nth-child(1):before {
    -webkit-transform: scale(1.40461);
            transform: scale(1.40461); }

.snowflakes--quick > div:nth-child(2) {
  left: 16%;
  -webkit-animation-delay: 1.5s, 1s;
          animation-delay: 1.5s, 1s;
  -webkit-animation-duration: 5s, 4s;
          animation-duration: 5s, 4s; }
  .snowflakes--quick > div:nth-child(2):before {
    -webkit-transform: scale(1.43134);
            transform: scale(1.43134); }

.snowflakes--quick > div:nth-child(3) {
  left: 54%;
  -webkit-animation-delay: 8s, 10s;
          animation-delay: 8s, 10s;
  -webkit-animation-duration: 4s, 3s;
          animation-duration: 4s, 3s; }
  .snowflakes--quick > div:nth-child(3):before {
    -webkit-transform: scale(1.45071);
            transform: scale(1.45071); }

.snowflakes--quick > div:nth-child(4) {
  left: 50%;
  -webkit-animation-delay: 5s, 0.5s;
          animation-delay: 5s, 0.5s;
  -webkit-animation-duration: 3.2s, 4s;
          animation-duration: 3.2s, 4s; }
  .snowflakes--quick > div:nth-child(4):before {
    -webkit-transform: scale(0.70612);
            transform: scale(0.70612); }

.snowflakes--quick > div:nth-child(5) {
  left: 83%;
  -webkit-animation-delay: 4s, 0.5s;
          animation-delay: 4s, 0.5s;
  -webkit-animation-duration: 4.8s, 4s;
          animation-duration: 4.8s, 4s; }
  .snowflakes--quick > div:nth-child(5):before {
    -webkit-transform: scale(0.88888);
            transform: scale(0.88888); }

.snowflakes--quick > div:nth-child(6) {
  left: 67%;
  -webkit-animation-delay: 0.5s, 0.5s;
          animation-delay: 0.5s, 0.5s;
  -webkit-animation-duration: 3.8s, 4s;
          animation-duration: 3.8s, 4s; }
  .snowflakes--quick > div:nth-child(6):before {
    -webkit-transform: scale(1.05262);
            transform: scale(1.05262); }

.snowflakes--quick > div:nth-child(7) {
  left: 78%;
  -webkit-animation-delay: 8.5s, 9.5s;
          animation-delay: 8.5s, 9.5s;
  -webkit-animation-duration: 4.2s, 3s;
          animation-duration: 4.2s, 3s; }
  .snowflakes--quick > div:nth-child(7):before {
    -webkit-transform: scale(1.2058);
            transform: scale(1.2058); }

.snowflakes--quick > div:nth-child(8) {
  left: 11%;
  -webkit-animation-delay: 7s, 5s;
          animation-delay: 7s, 5s;
  -webkit-animation-duration: 4.6s, 3s;
          animation-duration: 4.6s, 3s; }
  .snowflakes--quick > div:nth-child(8):before {
    -webkit-transform: scale(0.89933);
            transform: scale(0.89933); }

.snowflakes--quick > div:nth-child(9) {
  left: 37%;
  -webkit-animation-delay: 5.5s, 7.5s;
          animation-delay: 5.5s, 7.5s;
  -webkit-animation-duration: 4.2s, 4s;
          animation-duration: 4.2s, 4s; }
  .snowflakes--quick > div:nth-child(9):before {
    -webkit-transform: scale(1.04576);
            transform: scale(1.04576); }

.snowflakes--quick > div:nth-child(10) {
  left: 34%;
  -webkit-animation-delay: 5.5s, 9.5s;
          animation-delay: 5.5s, 9.5s;
  -webkit-animation-duration: 3.6s, 4s;
          animation-duration: 3.6s, 4s; }
  .snowflakes--quick > div:nth-child(10):before {
    -webkit-transform: scale(0.82339);
            transform: scale(0.82339); }

.snowflakes--quick > div:nth-child(11) {
  left: 80%;
  -webkit-animation-delay: 4s, 4.5s;
          animation-delay: 4s, 4.5s;
  -webkit-animation-duration: 3.2s, 5s;
          animation-duration: 3.2s, 5s; }
  .snowflakes--quick > div:nth-child(11):before {
    -webkit-transform: scale(1.02668);
            transform: scale(1.02668); }

.snowflakes--quick > div:nth-child(12) {
  left: 14%;
  -webkit-animation-delay: 6s, 10s;
          animation-delay: 6s, 10s;
  -webkit-animation-duration: 4s, 5s;
          animation-duration: 4s, 5s; }
  .snowflakes--quick > div:nth-child(12):before {
    -webkit-transform: scale(1.46828);
            transform: scale(1.46828); }

.snowflakes--quick > div:nth-child(13) {
  left: 26%;
  -webkit-animation-delay: 3s, 1.5s;
          animation-delay: 3s, 1.5s;
  -webkit-animation-duration: 4.4s, 5s;
          animation-duration: 4.4s, 5s; }
  .snowflakes--quick > div:nth-child(13):before {
    -webkit-transform: scale(1.17568);
            transform: scale(1.17568); }

.snowflakes--quick > div:nth-child(14) {
  left: 76%;
  -webkit-animation-delay: 2s, 6s;
          animation-delay: 2s, 6s;
  -webkit-animation-duration: 4.8s, 3s;
          animation-duration: 4.8s, 3s; }
  .snowflakes--quick > div:nth-child(14):before {
    -webkit-transform: scale(1.32852);
            transform: scale(1.32852); }

.snowflakes--quick > div:nth-child(15) {
  left: 8%;
  -webkit-animation-delay: 8.5s, 7.5s;
          animation-delay: 8.5s, 7.5s;
  -webkit-animation-duration: 3.8s, 3s;
          animation-duration: 3.8s, 3s; }
  .snowflakes--quick > div:nth-child(15):before {
    -webkit-transform: scale(1.09304);
            transform: scale(1.09304); }

.snowflakes--quick > div:nth-child(16) {
  left: 56%;
  -webkit-animation-delay: 9.5s, 3.5s;
          animation-delay: 9.5s, 3.5s;
  -webkit-animation-duration: 4.8s, 3s;
          animation-duration: 4.8s, 3s; }
  .snowflakes--quick > div:nth-child(16):before {
    -webkit-transform: scale(0.5504);
            transform: scale(0.5504); }

.snowflakes--quick > div:nth-child(17) {
  left: 18%;
  -webkit-animation-delay: 10s, 0.5s;
          animation-delay: 10s, 0.5s;
  -webkit-animation-duration: 5s, 4s;
          animation-duration: 5s, 4s; }
  .snowflakes--quick > div:nth-child(17):before {
    -webkit-transform: scale(1.00822);
            transform: scale(1.00822); }

.snowflakes--quick > div:nth-child(18) {
  left: 99%;
  -webkit-animation-delay: 7s, 7.5s;
          animation-delay: 7s, 7.5s;
  -webkit-animation-duration: 4.4s, 4s;
          animation-duration: 4.4s, 4s; }
  .snowflakes--quick > div:nth-child(18):before {
    -webkit-transform: scale(0.99443);
            transform: scale(0.99443); }

.snowflakes--quick > div:nth-child(19) {
  left: 77%;
  -webkit-animation-delay: 2.5s, 2s;
          animation-delay: 2.5s, 2s;
  -webkit-animation-duration: 4s, 4s;
          animation-duration: 4s, 4s; }
  .snowflakes--quick > div:nth-child(19):before {
    -webkit-transform: scale(1.03556);
            transform: scale(1.03556); }

.snowflakes--quick > div:nth-child(20) {
  left: 86%;
  -webkit-animation-delay: 0.5s, 4s;
          animation-delay: 0.5s, 4s;
  -webkit-animation-duration: 4.2s, 4s;
          animation-duration: 4.2s, 4s; }
  .snowflakes--quick > div:nth-child(20):before {
    -webkit-transform: scale(1.2469);
            transform: scale(1.2469); }

.snowflakes--quick > div:nth-child(21) {
  left: 15%;
  -webkit-animation-delay: 3.5s, 0.5s;
          animation-delay: 3.5s, 0.5s;
  -webkit-animation-duration: 4.4s, 4s;
          animation-duration: 4.4s, 4s; }
  .snowflakes--quick > div:nth-child(21):before {
    -webkit-transform: scale(0.87374);
            transform: scale(0.87374); }

.snowflakes--quick > div:nth-child(22) {
  left: 71%;
  -webkit-animation-delay: 4.5s, 1s;
          animation-delay: 4.5s, 1s;
  -webkit-animation-duration: 3.6s, 4s;
          animation-duration: 3.6s, 4s; }
  .snowflakes--quick > div:nth-child(22):before {
    -webkit-transform: scale(0.75144);
            transform: scale(0.75144); }

.snowflakes--quick > div:nth-child(23) {
  left: 13%;
  -webkit-animation-delay: 6s, 6.5s;
          animation-delay: 6s, 6.5s;
  -webkit-animation-duration: 4s, 3s;
          animation-duration: 4s, 3s; }
  .snowflakes--quick > div:nth-child(23):before {
    -webkit-transform: scale(1.24578);
            transform: scale(1.24578); }

.snowflakes--quick > div:nth-child(24) {
  left: 80%;
  -webkit-animation-delay: 8.5s, 7s;
          animation-delay: 8.5s, 7s;
  -webkit-animation-duration: 4.4s, 5s;
          animation-duration: 4.4s, 5s; }
  .snowflakes--quick > div:nth-child(24):before {
    -webkit-transform: scale(0.86986);
            transform: scale(0.86986); }

.snowflakes--quick > div:nth-child(25) {
  left: 36%;
  -webkit-animation-delay: 10s, 1s;
          animation-delay: 10s, 1s;
  -webkit-animation-duration: 3.6s, 3s;
          animation-duration: 3.6s, 3s; }
  .snowflakes--quick > div:nth-child(25):before {
    -webkit-transform: scale(1.34749);
            transform: scale(1.34749); }

.snowflakes--quick > div:nth-child(26) {
  left: 2%;
  -webkit-animation-delay: 3s, 5.5s;
          animation-delay: 3s, 5.5s;
  -webkit-animation-duration: 3.4s, 4s;
          animation-duration: 3.4s, 4s; }
  .snowflakes--quick > div:nth-child(26):before {
    -webkit-transform: scale(0.79285);
            transform: scale(0.79285); }

.snowflakes--quick > div:nth-child(27) {
  left: 97%;
  -webkit-animation-delay: 2.5s, 8.5s;
          animation-delay: 2.5s, 8.5s;
  -webkit-animation-duration: 3.8s, 5s;
          animation-duration: 3.8s, 5s; }
  .snowflakes--quick > div:nth-child(27):before {
    -webkit-transform: scale(1.43721);
            transform: scale(1.43721); }

.snowflakes--quick > div:nth-child(28) {
  left: 88%;
  -webkit-animation-delay: 10s, 8.5s;
          animation-delay: 10s, 8.5s;
  -webkit-animation-duration: 4s, 4s;
          animation-duration: 4s, 4s; }
  .snowflakes--quick > div:nth-child(28):before {
    -webkit-transform: scale(0.81327);
            transform: scale(0.81327); }

.snowflakes--quick > div:nth-child(29) {
  left: 13%;
  -webkit-animation-delay: 3.5s, 9s;
          animation-delay: 3.5s, 9s;
  -webkit-animation-duration: 5s, 5s;
          animation-duration: 5s, 5s; }
  .snowflakes--quick > div:nth-child(29):before {
    -webkit-transform: scale(1.04095);
            transform: scale(1.04095); }

.snowflakes--quick > div:nth-child(30) {
  left: 42%;
  -webkit-animation-delay: 4.5s, 7s;
          animation-delay: 4.5s, 7s;
  -webkit-animation-duration: 3.4s, 5s;
          animation-duration: 3.4s, 5s; }
  .snowflakes--quick > div:nth-child(30):before {
    -webkit-transform: scale(0.63864);
            transform: scale(0.63864); }

.snowflakes--quick > div:nth-child(31) {
  left: 16%;
  -webkit-animation-delay: 9.5s, 2s;
          animation-delay: 9.5s, 2s;
  -webkit-animation-duration: 3.2s, 5s;
          animation-duration: 3.2s, 5s; }
  .snowflakes--quick > div:nth-child(31):before {
    -webkit-transform: scale(0.59217);
            transform: scale(0.59217); }

.snowflakes--quick > div:nth-child(32) {
  left: 17%;
  -webkit-animation-delay: 5s, 9.5s;
          animation-delay: 5s, 9.5s;
  -webkit-animation-duration: 4.6s, 4s;
          animation-duration: 4.6s, 4s; }
  .snowflakes--quick > div:nth-child(32):before {
    -webkit-transform: scale(1.33913);
            transform: scale(1.33913); }

.snowflakes--quick > div:nth-child(33) {
  left: 55%;
  -webkit-animation-delay: 4.5s, 8s;
          animation-delay: 4.5s, 8s;
  -webkit-animation-duration: 4s, 5s;
          animation-duration: 4s, 5s; }
  .snowflakes--quick > div:nth-child(33):before {
    -webkit-transform: scale(0.51801);
            transform: scale(0.51801); }

.snowflakes--quick > div:nth-child(34) {
  left: 95%;
  -webkit-animation-delay: 5.5s, 5.5s;
          animation-delay: 5.5s, 5.5s;
  -webkit-animation-duration: 3.8s, 4s;
          animation-duration: 3.8s, 4s; }
  .snowflakes--quick > div:nth-child(34):before {
    -webkit-transform: scale(1.1659);
            transform: scale(1.1659); }

.snowflakes--quick > div:nth-child(35) {
  left: 93%;
  -webkit-animation-delay: 2s, 0.5s;
          animation-delay: 2s, 0.5s;
  -webkit-animation-duration: 3.8s, 3s;
          animation-duration: 3.8s, 3s; }
  .snowflakes--quick > div:nth-child(35):before {
    -webkit-transform: scale(1.09634);
            transform: scale(1.09634); }

.snowflakes--quick > div:nth-child(36) {
  left: 62%;
  -webkit-animation-delay: 6.5s, 1s;
          animation-delay: 6.5s, 1s;
  -webkit-animation-duration: 5s, 3s;
          animation-duration: 5s, 3s; }
  .snowflakes--quick > div:nth-child(36):before {
    -webkit-transform: scale(1.08423);
            transform: scale(1.08423); }

.snowflakes--quick > div:nth-child(37) {
  left: 82%;
  -webkit-animation-delay: 3s, 0.5s;
          animation-delay: 3s, 0.5s;
  -webkit-animation-duration: 3.8s, 4s;
          animation-duration: 3.8s, 4s; }
  .snowflakes--quick > div:nth-child(37):before {
    -webkit-transform: scale(0.84389);
            transform: scale(0.84389); }

.snowflakes--quick > div:nth-child(38) {
  left: 51%;
  -webkit-animation-delay: 6s, 3.5s;
          animation-delay: 6s, 3.5s;
  -webkit-animation-duration: 4.2s, 3s;
          animation-duration: 4.2s, 3s; }
  .snowflakes--quick > div:nth-child(38):before {
    -webkit-transform: scale(0.54184);
            transform: scale(0.54184); }

.snowflakes--quick > div:nth-child(39) {
  left: 41%;
  -webkit-animation-delay: 1s, 4.5s;
          animation-delay: 1s, 4.5s;
  -webkit-animation-duration: 4.4s, 3s;
          animation-duration: 4.4s, 3s; }
  .snowflakes--quick > div:nth-child(39):before {
    -webkit-transform: scale(0.90392);
            transform: scale(0.90392); }

.snowflakes--quick > div:nth-child(40) {
  left: 12%;
  -webkit-animation-delay: 1s, 1.5s;
          animation-delay: 1s, 1.5s;
  -webkit-animation-duration: 4.4s, 5s;
          animation-duration: 4.4s, 5s; }
  .snowflakes--quick > div:nth-child(40):before {
    -webkit-transform: scale(0.7107);
            transform: scale(0.7107); }

.snowflakes--quick > div:nth-child(41) {
  left: 34%;
  -webkit-animation-delay: 10s, 7s;
          animation-delay: 10s, 7s;
  -webkit-animation-duration: 4s, 4s;
          animation-duration: 4s, 4s; }
  .snowflakes--quick > div:nth-child(41):before {
    -webkit-transform: scale(0.89331);
            transform: scale(0.89331); }

.snowflakes--quick > div:nth-child(42) {
  left: 69%;
  -webkit-animation-delay: 2s, 1.5s;
          animation-delay: 2s, 1.5s;
  -webkit-animation-duration: 4s, 4s;
          animation-duration: 4s, 4s; }
  .snowflakes--quick > div:nth-child(42):before {
    -webkit-transform: scale(0.51091);
            transform: scale(0.51091); }

.snowflakes--quick > div:nth-child(43) {
  left: 36%;
  -webkit-animation-delay: 10s, 3s;
          animation-delay: 10s, 3s;
  -webkit-animation-duration: 4.4s, 4s;
          animation-duration: 4.4s, 4s; }
  .snowflakes--quick > div:nth-child(43):before {
    -webkit-transform: scale(1.31703);
            transform: scale(1.31703); }

.snowflakes--quick > div:nth-child(44) {
  left: 45%;
  -webkit-animation-delay: 8s, 5.5s;
          animation-delay: 8s, 5.5s;
  -webkit-animation-duration: 4.8s, 4s;
          animation-duration: 4.8s, 4s; }
  .snowflakes--quick > div:nth-child(44):before {
    -webkit-transform: scale(1.39636);
            transform: scale(1.39636); }

.snowflakes--quick > div:nth-child(45) {
  left: 66%;
  -webkit-animation-delay: 6s, 8.5s;
          animation-delay: 6s, 8.5s;
  -webkit-animation-duration: 5s, 5s;
          animation-duration: 5s, 5s; }
  .snowflakes--quick > div:nth-child(45):before {
    -webkit-transform: scale(0.65881);
            transform: scale(0.65881); }

.snowflakes--quick > div:nth-child(46) {
  left: 62%;
  -webkit-animation-delay: 2.5s, 10s;
          animation-delay: 2.5s, 10s;
  -webkit-animation-duration: 4.6s, 3s;
          animation-duration: 4.6s, 3s; }
  .snowflakes--quick > div:nth-child(46):before {
    -webkit-transform: scale(1.02126);
            transform: scale(1.02126); }

.snowflakes--quick > div:nth-child(47) {
  left: 61%;
  -webkit-animation-delay: 6.5s, 3s;
          animation-delay: 6.5s, 3s;
  -webkit-animation-duration: 4.8s, 5s;
          animation-duration: 4.8s, 5s; }
  .snowflakes--quick > div:nth-child(47):before {
    -webkit-transform: scale(1.26681);
            transform: scale(1.26681); }

.snowflakes--quick > div:nth-child(48) {
  left: 35%;
  -webkit-animation-delay: 9s, 4.5s;
          animation-delay: 9s, 4.5s;
  -webkit-animation-duration: 3.6s, 3s;
          animation-duration: 3.6s, 3s; }
  .snowflakes--quick > div:nth-child(48):before {
    -webkit-transform: scale(0.84527);
            transform: scale(0.84527); }

.snowflakes--quick > div:nth-child(49) {
  left: 59%;
  -webkit-animation-delay: 9.5s, 1.5s;
          animation-delay: 9.5s, 1.5s;
  -webkit-animation-duration: 4.2s, 4s;
          animation-duration: 4.2s, 4s; }
  .snowflakes--quick > div:nth-child(49):before {
    -webkit-transform: scale(1.19171);
            transform: scale(1.19171); }

.snowflakes--quick > div:nth-child(50) {
  left: 37%;
  -webkit-animation-delay: 8.5s, 9s;
          animation-delay: 8.5s, 9s;
  -webkit-animation-duration: 4s, 3s;
          animation-duration: 4s, 3s; }
  .snowflakes--quick > div:nth-child(50):before {
    -webkit-transform: scale(1.32422);
            transform: scale(1.32422); }

.snowflakes--slow > div:nth-child(0) {
  left: 87%;
  -webkit-animation-delay: 2.5s, 8.5s;
          animation-delay: 2.5s, 8.5s;
  -webkit-animation-duration: 6.6s, 3s;
          animation-duration: 6.6s, 3s; }
  .snowflakes--slow > div:nth-child(0):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(1) {
  left: 37%;
  -webkit-animation-delay: 6s, 4s;
          animation-delay: 6s, 4s;
  -webkit-animation-duration: 5.2s, 3s;
          animation-duration: 5.2s, 3s; }
  .snowflakes--slow > div:nth-child(1):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(2) {
  left: 17%;
  -webkit-animation-delay: 1s, 3.5s;
          animation-delay: 1s, 3.5s;
  -webkit-animation-duration: 6s, 3s;
          animation-duration: 6s, 3s; }
  .snowflakes--slow > div:nth-child(2):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(3) {
  left: 11%;
  -webkit-animation-delay: 10s, 10s;
          animation-delay: 10s, 10s;
  -webkit-animation-duration: 5.2s, 4s;
          animation-duration: 5.2s, 4s; }
  .snowflakes--slow > div:nth-child(3):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(4) {
  left: 2%;
  -webkit-animation-delay: 4s, 5.5s;
          animation-delay: 4s, 5.5s;
  -webkit-animation-duration: 6.8s, 5s;
          animation-duration: 6.8s, 5s; }
  .snowflakes--slow > div:nth-child(4):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(5) {
  left: 81%;
  -webkit-animation-delay: 7s, 6s;
          animation-delay: 7s, 6s;
  -webkit-animation-duration: 5.6s, 5s;
          animation-duration: 5.6s, 5s; }
  .snowflakes--slow > div:nth-child(5):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(6) {
  left: 26%;
  -webkit-animation-delay: 9s, 8.5s;
          animation-delay: 9s, 8.5s;
  -webkit-animation-duration: 6.8s, 4s;
          animation-duration: 6.8s, 4s; }
  .snowflakes--slow > div:nth-child(6):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(7) {
  left: 73%;
  -webkit-animation-delay: 5s, 9.5s;
          animation-delay: 5s, 9.5s;
  -webkit-animation-duration: 6.8s, 5s;
          animation-duration: 6.8s, 5s; }
  .snowflakes--slow > div:nth-child(7):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(8) {
  left: 7%;
  -webkit-animation-delay: 2.5s, 7.5s;
          animation-delay: 2.5s, 7.5s;
  -webkit-animation-duration: 6s, 4s;
          animation-duration: 6s, 4s; }
  .snowflakes--slow > div:nth-child(8):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(9) {
  left: 33%;
  -webkit-animation-delay: 6s, 5.5s;
          animation-delay: 6s, 5.5s;
  -webkit-animation-duration: 6.8s, 3s;
          animation-duration: 6.8s, 3s; }
  .snowflakes--slow > div:nth-child(9):before {
    -webkit-transform: scale(3);
            transform: scale(3); }

.snowflakes--slow > div:nth-child(10) {
  left: 30%;
  -webkit-animation-delay: 9s, 7s;
          animation-delay: 9s, 7s;
  -webkit-animation-duration: 5.2s, 5s;
          animation-duration: 5.2s, 5s; }
  .snowflakes--slow > div:nth-child(10):before {
    -webkit-transform: scale(2);
            transform: scale(2); }

@media (max-width: 767.98px) {
  .snowflakes > div:before {
    width: 3px;
    height: 3px; } }

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%; }
  100% {
    top: 100%; } }

@keyframes snowflakes-fall {
  0% {
    top: -10%; }
  100% {
    top: 100%; } }

@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px); } }

@keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px); } }

.lemon {
  transition: all 0.7s;
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
          transform: translateY(-50%) scale(0);
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0; }
  .lemon.visible {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
    visibility: visible;
    opacity: 1; }
  .lemon__center {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    aspect-ratio: 1/1;
    background: url("../images/lemon.png") no-repeat 50% 50%;
    background-size: contain; }
  .lemon__arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24.03226%;
    background: url(../images/arrow.svg) no-repeat;
    background-size: contain;
    -webkit-animation: lemon-arrow-shake 1s infinite;
            animation: lemon-arrow-shake 1s infinite; }
    .lemon__arrow:before {
      content: " ";
      padding-top: 108.69565%;
      display: block; }

@-webkit-keyframes lemon-arrow-shake {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px); } }

@keyframes lemon-arrow-shake {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  50% {
    -webkit-transform: translate(-30px, -30px);
            transform: translate(-30px, -30px); } }

.toys__tree {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  margin-left: -430px;
  width: 227px;
  max-width: 37.6vw;
  background: url(../images/toys/tree.png) no-repeat;
  background-size: contain; }
  .toys__tree:before {
    content: " ";
    padding-top: 95.59471%;
    display: block; }

.toys__item {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 50%;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-animation: toys-shake-5deg 4s 0s infinite ease-in-out;
          animation: toys-shake-5deg 4s 0s infinite ease-in-out; }

.toys__item--1, .toys__item--2 {
  background: url(../images/toys/toy-cone.svg) no-repeat;
  background-size: contain; }
  .toys__item--1:before, .toys__item--2:before {
    content: " ";
    padding-top: 500%;
    display: block; }

.toys__item--1 {
  margin-left: -730px;
  margin-top: -80px;
  width: 40px;
  max-width: 6.6vw; }

.toys__item--2 {
  margin-left: 420px;
  width: 60px;
  max-width: 10vw;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
  -webkit-animation-name: toys-shake-1deg;
          animation-name: toys-shake-1deg;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s; }

.toys__item--3, .toys__item--4 {
  background: url(../images/toys/toy-snowflake.svg) no-repeat;
  background-size: contain; }
  .toys__item--3:before, .toys__item--4:before {
    content: " ";
    padding-top: 215.07937%;
    display: block; }

.toys__item--3 {
  margin-left: -570px;
  width: 126px;
  max-width: 21vw;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-name: toys-shake-1deg;
          animation-name: toys-shake-1deg;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s; }

.toys__item--4 {
  margin-left: 190px;
  margin-top: -70px;
  width: 94px;
  max-width: 15.6vw;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }

.toys__item--5 {
  background: url(../images/toys/toy-tree.svg) no-repeat;
  background-size: contain;
  width: 50.37594%;
  left: 38%;
  top: 47%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s; }
  .toys__item--5:before {
    content: " ";
    padding-top: 251.30435%;
    display: block; }

.toys__item--6 {
  background: url(../images/toys/toy-dots.svg) no-repeat;
  background-size: contain;
  margin-left: 610px;
  width: 74px;
  max-width: 12vw;
  -webkit-animation-delay: -2s;
          animation-delay: -2s; }
  .toys__item--6:before {
    content: " ";
    padding-top: 208%;
    display: block; }

@media (max-width: 767.98px) {
  .toys__tree {
    left: -10vw;
    margin-left: 0; }
  .toys__item--2 {
    margin-left: 0;
    left: auto;
    right: 4vw; }
  .toys__item--4 {
    margin-top: -50px;
    left: auto;
    right: 14vw; } }

@-webkit-keyframes toys-shake-5deg {
  0%,
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); } }

@keyframes toys-shake-5deg {
  0%,
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); } }

@-webkit-keyframes toys-shake-1deg {
  0%,
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg); }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); } }

@keyframes toys-shake-1deg {
  0%,
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg); }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); } }

.bird__image {
  transition: opacity 0.2s;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  max-width: 110px; }
  .bird__image.hover {
    z-index: 200; }
  .bird__image.hidden {
    opacity: 0; }
  .bird__image__in1 {
    position: relative;
    background: url(../images/bird-states/1.svg) no-repeat;
    background-size: contain;
    -webkit-animation: bird-fly 0.2s infinite;
            animation: bird-fly 0.2s infinite; }
    .bird__image__in1:before {
      content: " ";
      padding-top: 110.90909%;
      display: block; }
    .bird__image__in1.flying-to-basket {
      -webkit-animation: bird-fly 0.2s infinite, bird-fly-to-basket 5s;
              animation: bird-fly 0.2s infinite, bird-fly-to-basket 5s; }
    .bird__image__in1.flying-to-box {
      -webkit-animation: bird-fly 0.2s infinite, bird-fly-to-box 4s;
              animation: bird-fly 0.2s infinite, bird-fly-to-box 4s; }
    .bird__image__in1.static {
      background-image: url(../images/bird-states/static.svg);
      -webkit-animation: none;
              animation: none;
      -webkit-transform: rotate(-35deg);
              transform: rotate(-35deg); }

.bird__fruits__item {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  display: none;
  background-repeat: no-repeat;
  background-size: contain; }
  .bird__fruits__item.active {
    display: block; }
  .bird__fruits__item--2 {
    background-image: url(../images/bird-fruits/2.png);
    top: 52%;
    left: 98%; }
  .bird__fruits__item--3 {
    background-image: url(../images/bird-fruits/3.png);
    top: 52%;
    left: 97%; }
  .bird__fruits__item--4 {
    background-image: url(../images/bird-fruits/4.png);
    top: 52%;
    left: 98%; }
  .bird__fruits__item--5 {
    background-image: url(../images/bird-fruits/5.png);
    top: 52%;
    left: 94%; }
  .bird__fruits__item--6 {
    background-image: url(../images/bird-fruits/6.png);
    top: 54%;
    left: 98%; }

@-webkit-keyframes bird-fly-to-basket {
  0% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg); }
  80%,
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); } }

@keyframes bird-fly-to-basket {
  0% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg); }
  80%,
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); } }

@-webkit-keyframes bird-fly-to-box {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg); } }

@keyframes bird-fly-to-box {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  100% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg); } }

@-webkit-keyframes bird-fly {
  0% {
    background-image: url(../images/bird-states/1.svg); }
  20% {
    background-image: url(../images/bird-states/2.svg); }
  40% {
    background-image: url(../images/bird-states/3.svg); }
  60% {
    background-image: url(../images/bird-states/4.svg); }
  80% {
    background-image: url(../images/bird-states/5.svg); }
  100% {
    background-image: url(../images/bird-states/6.svg); } }

@keyframes bird-fly {
  0% {
    background-image: url(../images/bird-states/1.svg); }
  20% {
    background-image: url(../images/bird-states/2.svg); }
  40% {
    background-image: url(../images/bird-states/3.svg); }
  60% {
    background-image: url(../images/bird-states/4.svg); }
  80% {
    background-image: url(../images/bird-states/5.svg); }
  100% {
    background-image: url(../images/bird-states/6.svg); } }

.loader .welcome,
.loader .toys,
.loader .bird {
  transition: opacity 1s 1s; }

.loader.active .welcome,
.loader.active .toys,
.loader.active .bird {
  opacity: 0; }

.loader.active .loader__progress {
  opacity: 1; }

.loader__progress {
  transition: opacity 0s 1s;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  max-width: 200px;
  height: 5px;
  background: #03441d;
  border-radius: 100px; }
  .loader__progress__level {
    height: 100%;
    width: 0;
    background: #003816;
    border-radius: 100px;
    -webkit-animation: loader-progress 5s forwards;
            animation: loader-progress 5s forwards; }

@-webkit-keyframes loader-progress {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }

@keyframes loader-progress {
  0% {
    width: 0%; }
  100% {
    width: 90%; } }

body {
  background: #005e29;
  font-family: "SFProDisplay", sans-serif; }

.out-of-screen {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.wrapper {
  position: relative;
  overflow: hidden; }
