@import "../../node_modules/destyle.css/destyle";

@font-face {
	font-family: "SFProDisplay";
	src: url("subset-SFProDisplay-Bold.woff2") format("woff2"),
		url("subset-SFProDisplay-Bold.woff") format("woff"),
		url("subset-SFProDisplay-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SFProDisplay";
	src: url("../fonts/subset-SFProDisplay-Medium.woff2") format("woff2"),
		url("../fonts/subset-SFProDisplay-Medium.woff") format("woff"),
		url("../fonts/subset-SFProDisplay-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SFProDisplay";
	src: url("../fonts/subset-SFProDisplay-Regular.woff2") format("woff2"),
		url("../fonts/subset-SFProDisplay-Regular.woff") format("woff"),
		url("../fonts/subset-SFProDisplay-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SFProDisplay";
	src: url("../fonts/subset-SFProDisplay-Semibold.woff2") format("woff2"),
		url("../fonts/subset-SFProDisplay-Semibold.woff") format("woff"),
		url("../fonts/subset-SFProDisplay-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

body {
	background: #005e29;
	font-family: "SFProDisplay", sans-serif;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.bird {
	width: 110px;
	height: 122px;
	background: url(../images/bird-states/1.svg) no-repeat;
	animation: bird-fly 1s infinite;
}

.arrow {
	width: 115px;
	height: 125px;
	background: url(../images/arrow.svg) no-repeat;
	background-size: contain;
	animation: arrow-move 1s infinite;
}

.header {
	padding: 30px 0;
	text-align: center;

	&__logo {
		display: inline-block;
		line-height: 0;

		img {
			width: 215px;
		}
	}
}

.welcome {
	position: relative;
	padding-bottom: 60px;
	text-align: center;
	color: #fff;

	&__radial-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		aspect-ratio: 1/1;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#8fbe21 0%,
			#005e29 100%
		);
	}

	&__tree-left {
		position: absolute;
		z-index: 10;
		top: 50%;
		left: calc(min(20vw - 355px, 0px));
		transform: translateY(-50%);
		width: calc(min(20vw, 355px));
		background: url(../images/tree-left.png) no-repeat;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 978/355 * 100%;
			display: block;
		}
	}

	&__tree-right {
		position: absolute;
		z-index: 10;
		top: 50%;
		right: calc(min(20vw - 380px, 0px));
		transform: translateY(-50%);
		width: 20vw;
		max-width: 380px;
		background: url(../images/tree-right.png) no-repeat;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 962/380 * 100%;
			display: block;
		}
	}

	&__toy-1,
	&__toy-2 {
		position: absolute;
		z-index: 20;
		top: 0;
		left: 50%;
		background: url(../images/toy-cone.svg) no-repeat;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 300/60 * 100%;
			display: block;
		}
	}

	// cone left
	&__toy-1 {
		transform: translate(-730px, -40%);
		width: 40px;
		max-width: 6.6vw;
	}

	// cone right
	&__toy-2 {
		transform: translate(420px, 0px);
		width: 60px;
		max-width: 10vw;
	}

	&__toy-3,
	&__toy-4 {
		position: absolute;
		z-index: 20;
		top: 0;
		left: 50%;
		background: url(../images/toy-snowflake.svg) no-repeat;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 271/126 * 100%;
			display: block;
		}
	}

	// snowflake left
	&__toy-3 {
		transform: translate(-570px, 0);
		width: 126px;
		max-width: 21vw;
	}

	// snowflake right
	&__toy-4 {
		transform: translate(190px, -40%);
		width: 94px;
		max-width: 15.6vw;
	}

	&__toy-5 {
		position: absolute;
		z-index: 20;
		top: 0;
		left: 50%;
		background: url(../images/toy-tree.png) no-repeat;
		background-size: contain;
		transform: translate(-430px, 0px);
		width: 226px;
		max-width: 37vw;

		&:before {
			content: " ";
			padding-top: 391/227 * 100%;
			display: block;
		}
	}

	&__toy-6 {
		position: absolute;
		z-index: 20;
		top: 0;
		left: 50%;
		background: url(../images/toy-dots.svg) no-repeat;
		background-size: contain;
		transform: translate(610px, 0px);
		width: 74px;
		max-width: 12vw;

		&:before {
			content: " ";
			padding-top: 156/75 * 100%;
			display: block;
		}
	}

	&__content {
		position: relative;
		padding: 0 20px;
	}

	&__image {
		max-width: 570px;
		margin: 0 auto;
		background: url(../images/basket.png) no-repeat 50% 50%;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 52px;
		font-weight: 700;
	}

	&__desc {
		margin-top: 10px;
		margin-bottom: 35px;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 500;
	}

	&__button {
		transition: all 0.2s;
		position: relative;
		min-width: 220px;
		padding: 20/18 + em;
		background: #3fa22a;
		border-radius: 100px;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;

		&:before {
			content: " ";
			position: absolute;
			top: -0.5em;
			left: 0.5em;
			background: url(../images/button-snow.svg) no-repeat;
			background-size: contain;
			width: 50%;
			height: 1em;
		}

		&:hover {
			background: lighten(#3fa22a, 5%);
		}
	}

	&__tip {
		margin-top: 30px;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 500;
	}
}

.snowflakes > div {
	position: fixed;
	top: -10%;
	z-index: 9999;
	user-select: none;
	cursor: default;
	animation-name: snowflakes-fall, snowflakes-shake;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running;

	&:before {
		content: " ";
		display: block;
		width: 5px;
		height: 5px;
		background: #fff;
		border-radius: 50%;
	}
}

@for $i from 0 through 50 {
	.snowflakes--quick > div:nth-child(#{$i}) {
		left: random(100) * 1%;
		animation-delay: random(20) * 0.5s, random(20) * 0.5s;
		animation-duration: 1 + random(10) * 0.2s, 2 + random(3) * 1s;

		&:before {
			transform: scale(random() + 0.5);
		}
	}
}

@for $i from 0 through 10 {
	.snowflakes--slow > div:nth-child(#{$i}) {
		left: random(100) * 1%;
		animation-delay: random(20) * 0.5s, random(20) * 0.5s;
		animation-duration: 3 + random(10) * 0.2s, 2 + random(3) * 1s;

		&:before {
			transform: scale(1 + random(2));
		}
	}
}

@keyframes snowflakes-fall {
	0% {
		top: -10%;
	}
	100% {
		top: 100%;
	}
}

@keyframes snowflakes-shake {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(80px);
	}
}

@keyframes bird-fly {
	0% {
		background-image: url(../images/bird-states/1.svg);
	}

	20% {
		background-image: url(../images/bird-states/2.svg);
	}

	40% {
		background-image: url(../images/bird-states/3.svg);
	}

	60% {
		background-image: url(../images/bird-states/4.svg);
	}

	80% {
		background-image: url(../images/bird-states/5.svg);
	}

	100% {
		background-image: url(../images/bird-states/6.svg);
	}
}

@keyframes arrow-move {
	0%,
	100% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(-30px, -30px);
	}
}
