@import "../../node_modules/destyle.css/destyle";
@import "./components/fonts";
@import "./components/icomoon";
@import "./components/header";
@import "./components/welcome";
@import "./components/red-wave";
@import "./components/snowflakes";
@import "./components/lemon";
@import "./components/toys";
@import "./components/bird";
@import "./components/loader";

body {
	background: #005e29;
	font-family: "SFProDisplay", sans-serif;
}

.out-of-screen {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.wrapper {
	position: relative;
	overflow: hidden;
}
