@import "../../node_modules/destyle.css/destyle";
@import "./components/fonts";
@import "./components/icomoon";
@import "./components/snowflakes";
@import "./components/toys";

body {
	background: #005e29;
	font-family: "SFProDisplay", sans-serif;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

.bird {
	width: 110px;
	height: 122px;
	background: url(../images/bird-states/1.svg) no-repeat;
	animation: bird-fly 1s infinite;
}

.arrow {
	width: 115px;
	height: 125px;
	background: url(../images/arrow.svg) no-repeat;
	background-size: contain;
	animation: arrow-move 1s infinite;
}

.header {
	padding: 30px 0;
	text-align: center;

	&__logo {
		display: inline-block;
		line-height: 0;

		img {
			width: 215px;
		}
	}
}

.welcome {
	position: relative;
	padding-bottom: 60px;
	text-align: center;
	color: #fff;

	&__radial-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		aspect-ratio: 1/1;
		background: radial-gradient(
			50% 50% at 50% 50%,
			#8fbe21 0%,
			#005e29 100%
		);
	}

	&__tree-left {
		position: absolute;
		z-index: 10;
		top: 50%;
		left: calc(min(20vw - 355px, 0px));
		transform: translateY(-50%);
		width: calc(min(20vw, 355px));
		background: url(../images/tree-left.png) no-repeat;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 978/355 * 100%;
			display: block;
		}
	}

	&__tree-right {
		position: absolute;
		z-index: 10;
		top: 50%;
		right: calc(min(20vw - 380px, 0px));
		transform: translateY(-50%);
		width: 20vw;
		max-width: 380px;
		background: url(../images/tree-right.png) no-repeat;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 962/380 * 100%;
			display: block;
		}
	}

	&__content {
		position: relative;
		padding: 0 20px;
	}

	&__image {
		max-width: 570px;
		margin: 0 auto;
		background: url(../images/basket.png) no-repeat 50% 50%;
		background-size: contain;

		&:before {
			content: " ";
			padding-top: 100%;
			display: block;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 52px;
		font-weight: 700;
	}

	&__desc {
		margin-top: 10px;
		margin-bottom: 35px;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 500;
	}

	&__button {
		transition: all 0.2s;
		position: relative;
		min-width: 220px;
		padding: 20/18 + em;
		background: #3fa22a;
		border-radius: 100px;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;

		&:before {
			content: " ";
			position: absolute;
			top: -0.5em;
			left: 0.5em;
			background: url(../images/button-snow.svg) no-repeat;
			background-size: contain;
			width: 50%;
			height: 1em;
		}

		&:hover {
			background: lighten(#3fa22a, 5%);
		}
	}

	&__tip {
		margin-top: 30px;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 500;
	}
}

@keyframes bird-fly {
	0% {
		background-image: url(../images/bird-states/1.svg);
	}

	20% {
		background-image: url(../images/bird-states/2.svg);
	}

	40% {
		background-image: url(../images/bird-states/3.svg);
	}

	60% {
		background-image: url(../images/bird-states/4.svg);
	}

	80% {
		background-image: url(../images/bird-states/5.svg);
	}

	100% {
		background-image: url(../images/bird-states/6.svg);
	}
}

@keyframes arrow-move {
	0%,
	100% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(-30px, -30px);
	}
}
